@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #2563eb;
    --color-primary-hover: #1d4ed8;

    --color-secondary: #4b5563;
    --color-secondary-hover: #374151;

    --color-success: #10b981;
    --color-error: #ef4444;
    --color-warning: #f59e0b;
    --color-info: #3b82f6;
}


* {
    font-family: "Inter", sans-serif;
}

::selection {
    background-color: #4f39f6;
    color: #ffffff;
}

.scroll-bar-hide {

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;

    -ms-overflow-style: none;
}

.open-modal {
    animation: open-modal 0.5s ease-in-out;
}

.close-modal {
    animation: close-modal 0.3s ease-in-out;
}

@keyframes open-modal {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes close-modal {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}