@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #4f39f6;
    --color-primary-hover: #1d4ed8;

    --color-secondary: #4b5563;
    --color-secondary-hover: #374151;

    --color-success: #10b981;
    --color-error: #ef4444;
    --color-warning: #f59e0b;
    --color-info: #3b82f6;
}


* {
    font-family: "Inter", sans-serif;
}

::selection {
    background-color: #4f39f6;
    color: #ffffff;
}

/* Scrollbar global */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #4f39f6;
    border-radius: 999px;
    opacity: 0.6;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3b27d8;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4f39f6 transparent;
}

.scroll-bar-hide {

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;

    -ms-overflow-style: none;
}

.open-modal {
    animation: open-modal 0.5s ease-in-out;
}

.close-modal {
    animation: close-modal 0.3s ease-in-out;
}

.open-sidebar {
    animation: open-sidebar 0.5s ease-in-out;
}

.close-sidebar {
    animation: close-sidebar 0.3s ease-in-out;
}

@keyframes open-modal {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes close-modal {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}

.tag-node-container {
    background: white;
    border-radius: 8px;
    min-width: 180px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.node-header {
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.node-content {
    background: #f9fafb;
    max-height: 200px;
    overflow-y: auto;
    padding: 8px;
}

.quote-item {
    background: white;
    border-left: 3px solid #ddd;
    padding: 6px;
    margin-bottom: 6px;
    font-size: 0.75rem;
    border-radius: 2px;
}

@keyframes open-sidebar {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes close-sidebar {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}