@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
    font-family: "Inter", sans-serif;
}

.scroll-bar-hide {

    /* Para Chrome, Safari y Edge */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Para Firefox */
    scrollbar-width: none;

    /* Para Internet Explorer y Edge antiguo */
    -ms-overflow-style: none;
}

.open-modal {
    animation: open-modal 0.5s ease-in-out;
}

.close-modal {
    animation: close-modal 0.3s ease-in-out;
}

@keyframes open-modal {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes close-modal {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}